html, body, h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif
}

.bkgFullName {
  width: 100%;
  color: #fff!important;
}

.bkgFullName:after {
  content: ' ';
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #009688!important;
  opacity: .5;
  position: absolute;
  z-index: -1;
}

.color-bkg {
  color: #fff;
  background-color: #009688!important;
}

.color-icon {
  color: #009688!important
}

.color-datetime {
  color: #009688!important
}