html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

.loader {
  border: 16px solid #d1c4e9;
  border-top: 16px solid #7c4dff;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@page {
  size: A4;
  margin: 0;
}

@media print {
  * {
    color-adjust: exact !important;
    -webkit-print-color-adjust: exact !important;
  }

  footer,
  header {
    display: none;
  }

  html,
  body {
    margin: 0 auto;
    // height: 100vh;
    // width: 100vw
    /* width: 210mm; */
    /* height: 297mm; */
  }

  @page {
    margin: 0;
  }
}

html {
  word-break: break-word;
  margin: 0 auto;
}

body {
  overflow: auto;
}

.bkgFullName {
  width: 100%;
  color: #fff !important;
}

.bkgFullName:after {
  content: " ";
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #7c4dff !important;
  opacity: 0.5;
  position: absolute;
  z-index: -1;
  height: 43px;
}

.bkgFullName h2 {
  font-size: 100%;
  font-weight: bold;
}

.color-bkg {
  color: #fff;
  background-color: #7c4dff !important;
}

.color-bkg-sub {
  background-color: #d1c4e9 !important;
}

.color-icon {
  color: #d1c4e9 !important;
}

.color-datetime {
  color: #7c4dff !important;
}

ul.timeline {
  list-style-type: none;
}

ul.timeline>li {
  position: relative;
  margin: 0;
  padding-bottom: 1em;
  padding-left: 15px;
}

ul.timeline>li:before {
  content: "";
  background-color: #d1c4e9;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 5px;
  width: 3px;
}

ul.timeline>li:after {
  content: "";
  background-color: #d1c4e9;
  border-radius: 100%;
  height: 12px;
  width: 12px;
  /* background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' viewBox='0 0 32 32' focusable='false'><circle stroke='none' fill='%23D1C4E9' cx='16' cy='16' r='10'></circle></svg>");
    height: 15px;
    width: 15px; */
  position: absolute;
  top: 3px;
  left: 0;
}

header {
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  left: 0;
  padding: 5px !important;
}

header button,
header button>* {
  font-size: 15px;
  line-height: 5px;
}

.contentRight>.w3-container>p {
  padding-left: 10px;
  margin-top: 0;
}

.contentLeft>div,
.contentRight>div {
  border-bottom: 1px dashed #d1c4e9;
}

.contentLeft>div:last-child,
.contentRight>div:last-child {
  border-bottom: none;
}

.contentRight a {
  color: #7c4dff !important;
  font-weight: bold;
  font-style: italic;
}

.headerRight .w3-col {
  margin-bottom: 0;
}

ngx-simplebar {
  width: inherit;
  height: inherit;
}

.simplebar-visible.simplebar-scrollbar {
  width: 15px;
}

.simplebar-scrollbar:before,
.simplebar-scrollbar:after {
  background: none;
}

.simplebar-visible.simplebar-scrollbar:after {
  content: " ";
  top: -100vh;
  right: -6px;
  width: 3px;
  display: table;
  background: #d1c4e9;
  position: relative;
  z-index: -10;
  height: 200vh;
}

.simplebar-visible.simplebar-scrollbar:before {
  background: #d1c4e9;
  opacity: 1;
}
