<!-- <ngx-simplebar [options]="{ autoHide: true }" class="w3-light-grey"> -->
<header class="w3-container color-bkg w3-center" [hidden]="isPrint">
    <button class="w3-button w3-round w3-margin-right w3-red" (click)="PrintImage()"><i class="fa fa-image"></i>
        PNG</button>
    <button class="w3-button w3-round w3-margin-right w3-blue" (click)="PrintPdf()"><i class="fa fa-file-pdf-o"></i>
        PDF</button>
    <button class="w3-button w3-round w3-margin-right w3-green" (click)="PrintPage()"><i class="fa fa-print"></i>
        Print</button>
</header>
<h6 class="w3-center w3-text-red"><b>CV Online: http://cv.t4vn.com</b></h6>
<p class="w3-content loader" [hidden]="dataCV != null"></p>

<span [innerHTML]="stylePrint"></span>
<!-- Page Container -->
<div class="w3-light-grey" id="ContentCV">
    <div class="w3-content w3-light-grey content">
        <!-- The Grid -->
        <div class="w3-row-padding" [hidden]="dataCV == null">
            <!-- Left Column -->
            <div class="w3-third">

                <div class="w3-white w3-text-grey w3-card-4">
                    <div class="w3-display-container w3-center">
                        <img src="/assets/images/avatar.jpg" class="" style="width:100%" alt="Avatar">
                        <div class="w3-display-bottommiddle w3-container
                            w3-text-black bkgFullName">
                            <h2>NGUYỄN THIÊN TỨ</h2>
                        </div>
                    </div>
                    <div class="w3-container contentLeft">
                        <div id="Information">
                            <p *ngFor="let item of dataCV?.Information?.Data">
                                <i class="fa fa-{{item.Icon}} fa-fw w3-margin-right w3-large
                                        color-icon"></i>{{item.Text}}
                            </p>
                        </div>

                        <div id="ProgrommingSkills">
                            <p class="w3-large">
                                <b>
                                    <i
                                        class="fa fa-{{dataCV?.ProgrommingSkills?.Icon}} fa-fw w3-margin-right color-icon"></i>{{dataCV?.ProgrommingSkills?.Text}}
                                </b>
                            </p>
                            <div *ngFor="let item of dataCV?.ProgrommingSkills?.Data" style="width: 100%;">
                                <div class="w3-tag w3-round w3-margin
                                    color-bkg-sub" style="padding:5px">
                                    <div class="w3-tag w3-round color-bkg
                                        w3-border w3-border-white
                                        w3-padding-small">
                                        {{item.Text}}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- <div id="GoogleSkills">
                                <p class="w3-large">
                                    <b>
                                        <i
                                            class="fa fa-{{dataCV?.GoogleSkills?.Icon}} fa-fw w3-margin-right color-icon"></i>{{dataCV?.GoogleSkills?.Text}}
                                    </b>
                                </p>
                                <div *ngFor="let item of dataCV?.GoogleSkills?.Data" style="width: 100%;">
                                    <div class="w3-tag w3-round w3-margin
                                    color-bkg-sub" style="padding:5px">
                                        <div class="w3-tag w3-round color-bkg
                                        w3-border w3-border-white
                                        w3-padding-small">
                                            {{item.Text}}
                                        </div>
                                    </div>
                                </div>
                            </div> -->

                        <div id="PersonalSkills">
                            <p class="w3-large">
                                <b>
                                    <i
                                        class="fa fa-{{dataCV?.PersonalSkills?.Icon}} fa-fw w3-margin-right color-icon"></i>{{dataCV?.PersonalSkills?.Text}}
                                </b>
                            </p>
                            <div *ngFor="let item of dataCV?.PersonalSkills?.Data" style="width: 100%;">
                                <p>{{item.Text}}</p>
                                <div class="color-bkg-sub w3-round-xlarge w3-small">
                                    <div class="w3-container w3-center w3-round-xlarge color-bkg"
                                        [ngStyle]="{'width':item.Value+'%'}">
                                        &nbsp;</div>
                                </div>
                                <br>
                            </div>
                        </div>

                    </div>
                </div><br>

                <!-- End Left Column -->
            </div>

            <!-- Right Column -->
            <div class="w3-twothird">

                <div class="w3-container" id="CareerObjective">
                    <h2>
                        <i class="fa fa-{{dataCV?.CareerObjective?.Icon}} w3-xxlarge color-icon"></i>
                        {{dataCV?.CareerObjective?.Text}}
                    </h2>
                    <span data-content="Text">
                        <i class="w3-serif w3-xlarge">{{dataCV?.CareerObjective?.Data}}</i>
                    </span>
                </div>

                <div id="Education" class="w3-container w3-card w3-white
                    w3-margin-bottom">
                    <h2 class="w3-text-grey
                        w3-padding-16">
                        <i class="fa fa-{{dataCV?.Education?.Icon}} fa-fw w3-margin-right
                            w3-xxlarge color-icon"></i>{{dataCV?.Education?.Text}}
                    </h2>
                    <div class="contentRight">
                        <div class="w3-container" *ngFor="let item of dataCV?.Education?.Data">
                            <div class="w3-row headerRight">
                                <h5 class="w3-col s6"><b>{{item.Text}}</b></h5>
                                <h6 class="w3-col s6 w3-right-align
                                    color-datetime">
                                    <i class="fa fa-calendar fa-fw"></i> <span [innerHTML]="item.Date"></span>
                                </h6>
                            </div>
                            <div class="w3-text-grey">
                                <p [innerHTML]="item.Value.join('')"></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="WorkExperience" class="w3-container w3-card
                    w3-white w3-margin-bottom">
                    <h2 class="w3-text-grey
                        w3-padding-16">
                        <i class="fa fa-{{dataCV?.WorkExperience?.Icon}} fa-fw w3-margin-right
                            w3-xxlarge color-icon"></i>{{dataCV?.WorkExperience?.Text}}
                    </h2>
                    <div class="contentRight">
                        <div class="w3-container" *ngFor="let item of dataCV?.WorkExperience?.Data">
                            <div class="w3-row headerRight">
                                <h5 class="w3-col s6"><b>{{item.Text}}</b></h5>
                                <h6 class="w3-col s6 w3-right-align
                                    color-datetime">
                                    <i class="fa fa-calendar fa-fw"></i> <span [innerHTML]="item.Date"></span>
                                </h6>
                            </div>
                            <div class="w3-text-grey">
                                <p [innerHTML]="item.Value.join('')"></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="IndividualProjects" class="w3-container w3-card
                    w3-white w3-margin-bottom">
                    <h2 class="w3-text-grey
                        w3-padding-16">
                        <i class="fa fa-{{dataCV?.IndividualProjects?.Icon}} fa-fw w3-margin-right
                            w3-xxlarge color-icon"></i>{{dataCV?.IndividualProjects?.Text}}
                    </h2>
                    <div class="contentRight">
                        <div class="w3-container" *ngFor="let item of dataCV?.IndividualProjects?.Data">
                            <div class="w3-row headerRight">
                                <h5 class="w3-col s6"><b>{{item.Text}}</b></h5>
                                <h6 class="w3-col s6 w3-right-align
                                    color-datetime">
                                    <i class="fa fa-calendar fa-fw"></i> <span [innerHTML]="item.Date"></span>
                                </h6>
                            </div>
                            <div class="w3-text-grey">
                                <p [innerHTML]="item.Value.join('')"></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="Certificate" class="w3-container w3-card w3-white
                    w3-margin-bottom">
                    <h2 class="w3-text-grey
                        w3-padding-16">
                        <i class="fa fa-{{dataCV?.Certificate?.Icon}} fa-fw w3-margin-right
                            w3-xxlarge color-icon"></i>{{dataCV?.Certificate?.Text}}
                    </h2>
                    <div class="contentRight">
                        <div class="w3-container" *ngFor="let item of dataCV?.Certificate?.Data">
                            <div class="w3-row headerRight">
                                <h5 class="w3-col s6"><b>{{item.Text}}</b></h5>
                                <h6 class="w3-col s6 w3-right-align
                                    color-datetime">
                                    <i class="fa fa-calendar fa-fw"></i> <span [innerHTML]="item.Date"></span>
                                </h6>
                            </div>
                            <div class="w3-text-grey">
                                <p [innerHTML]="item.Value.join('')"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Right Column -->
            </div>

            <!-- End Grid -->
        </div>

        <!-- End Page Container -->
    </div>
</div>
<!-- </ngx-simplebar> -->